<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.main.kotlin">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_emeraldtrail_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_emeraldtrail_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllKotlin"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".emeraldtrail.register.RegisterEmeraldActivity"
            android:theme="@style/Theme.NoActionBar"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".emeraldtrail.welcome.WelcomePageActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.ApiExampleActivity"
            android:exported="true" />
        <activity
            android:name=".icst.DashboardActivity"
            android:exported="true"
            android:label="@string/title_activity_bottom_navigation_with_fragment"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activity.BottomNavWithFABButton"
            android:exported="true"
            android:theme="@style/BottomNavigation" />
        <activity
            android:name=".icst.spleshscreen.SpleshScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".icst.signin.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".icst.signup.RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".icst.forgotpassword.ForgotPasswordActivity"
            android:exported="true"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activity.GenerateNotification"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.FragmentWithOutClearState"
            android:exported="false" />
        <activity
            android:name=".activity.UrlAndDownload"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.main.kotlin.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity
            android:name=".activity.ChooseLocalFile"
            android:exported="false" />
        <activity
            android:name=".activity.ChooseFile"
            android:exported="false" />
        <activity
            android:name=".activity.Medication"
            android:exported="false" />
        <activity
            android:name=".activity.EmbieMedication"
            android:exported="false" />
        <activity
            android:name=".activity.BottomNavigation"
            android:exported="false" />
        <activity
            android:name=".activity.EmbieDesign"
            android:exported="true" />
        <activity android:name=".activity.CustomProgress" />
        <activity android:name=".activity.RippleEffect" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <receiver
            android:name=".receiver.MyScheduleNotification"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receiver.ReceiverDailyNotification"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>